@use '../styles/abstracts/variables' as *;
@use '../styles/components/navbar';
@use '../styles/components/hero';
@use '../styles/components/features';
@use '../styles/components/pricing'; 
@use '../styles/components/auth';
@use '../styles/components/dashboard';
@use '../styles/components/chat';
@use '../styles/components/classroom';
@use '../styles/components/admin';
@use '../styles/components/responsive'; 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Inter', sans-serif; // Next.js standard font
  transition: background-color 0.3s ease, color 0.3s ease; // Smooth theme switch
}

a {
  color: inherit;
  text-decoration: none;
}